@use postcss-nested;
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:700');

:root {
  --bgColor: #18181b;
  --greenColor: #16a34a;
  --brightGreenColor: #22c55e;
  --normalFont: 'IBM Plex Mono', monospaced;
}

html, body {
  margin: 0;
  font-family: var(--normalFont);
  color: var(--greenColor);
}

a {
  color: var(--greenColor);
}

a:hover {
  color: var(--brightGreenColor);
}

#main-content {
  background-color: var(--bgColor);
  box-sizing: border-box;
  width: 100vw;
  padding: 10px;
}

#main-content.inline {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}

#main-content.stacked {
  align-items: center;
}

#about {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#title {
  font-size: 40px;
}

#subtitle {
  font-size: 28px;
}

#links {
  display: flex;
  flex-direction: column;
}

.green-box {
  border-width: 2px;
  border-color: var(--greenColor);
  width: 33%;
  min-width: 520px;
}

#resume {
  max-height: 90vh;
  overflow-y: scroll;
  scrollbar-color: var(--greenColor) var(--bgColor);
  scrollbar-width: thin;
}
